extends ../../layouts/master.pug

block csslib
	link(href='/cms-static/admin/assets/plugins/custom/datatables/datatables.bundle.css' rel='stylesheet' type='text/css')

block jslib
	// begin::Vendors Javascript(used by this page)
	script(src='/cms-static/admin/assets/plugins/custom/datatables/datatables.bundle.js')
	// end::Vendors Javascript
	// begin::Custom Javascript(used by this page)
	//- script(src='/cms-static/admin/assets/js/custom/apps/subscriptions/add/advanced.js')
	//- script(src='/cms-static/admin/assets/js/custom/apps/subscriptions/add/customer-select.js')
	//- script(src='/cms-static/admin/assets/js/custom/apps/subscriptions/add/products.js')
	script(src='/cms-static/admin/assets/js/widgets.bundle.js')
	script(src='/cms-static/admin/assets/js/custom/widgets.js')
	script(src='/cms-static/admin/assets/js/custom/apps/chat/chat.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/upgrade-plan.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/create-app.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/offer-a-deal/type.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/offer-a-deal/details.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/offer-a-deal/finance.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/offer-a-deal/complete.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/offer-a-deal/main.js')
	// end::Custom Javascript

	script(src='/cms-static/common/js/form-data-json.min.js')
	script(src='/cms-static/common/js/es-form.js')

block content
	.d-flex.flex-column.flex-column-fluid
		#kt_app_toolbar.app-toolbar.py-3.py-lg-6
			#kt_app_toolbar_container.app-container.container-xxl.d-flex.flex-stack
				.page-title.d-flex.flex-column.justify-content-center.flex-wrap.me-3
					h1.page-heading.d-flex.text-dark.fw-bold.fs-3.flex-column.justify-content-center.my-0
						| #{language ? 'Edit' : 'Add'} Language
					ul.breadcrumb.breadcrumb-separatorless.fw-semibold.fs-7.my-0.pt-1
						li.breadcrumb-item.text-muted
							a.text-muted.text-hover-primary(href='/admin/dashboard') Dashboard
						li.breadcrumb-item
							span.bullet.bg-gray-400.w-5px.h-2px
						li.breadcrumb-item.text-muted Language 
							span.bullet.bg-gray-400.w-5px.h-2px
						li.breadcrumb-item.text-muted #{language ? 'Edit' : 'New'}
		#kt_app_content.app-content.flex-column-fluid
			#kt_app_content_container.app-container.container-xxl
				.card.mb-5.mb-xl-10
					.card-header.border-0.cursor-pointer(role='button' data-bs-toggle='collapse' data-bs-target='#kt_account_profile_details' aria-expanded='true' aria-controls='kt_account_profile_details')
						.card-title.m-0
							h3.fw-bold.m-0 Language Form
					#kt_account_settings_profile_details.collapse.show
						form#kt_account_profile_details_form.form.es-form(action=`/admin/config/language/save` data-redirect-url=`/admin/config/language`  method='post' autocomplete="off")
							input(type="hidden" name="id" value=`${language ? language._id : ''}`)
							.card-body.border-top.p-9
								.row.mb-6
									label.col-lg-4.col-form-label.required.fw-semibold.fs-6 Name
									.col-lg-8
										.row
											.col-lg-12.fv-row
												input.form-control.form-control-lg.form-control-solid.mb-3.mb-lg-0(type='text' name='name' placeholder='Name' value=`${language ? language.name : ''}`)
												.fv-plugins-message-container.invalid-feedback(id=`field-error-name`)
								.row.mb-6
									label.col-lg-4.col-form-label.required.fw-semibold.fs-6 Prefix
									.col-lg-8.fv-row
										input.form-control.form-control-lg.form-control-solid(type='text' name='prefix' placeholder='Prefix' value=`${language ? language.prefix : ''}`)
										.fv-plugins-message-container.invalid-feedback(id=`field-error-prefix`)
								.row.mb-6
									label.col-lg-4.col-form-label.required.fw-semibold.fs-6 Direction
									.col-lg-8.fv-row
										input.form-control.form-control-lg.form-control-solid(type='text' name='dir' placeholder='Direction' value=`${language ? language.dir : ''}`)
										.fv-plugins-message-container.invalid-feedback(id=`field-error-dir`)
								.row.mb-6
									label.col-lg-4.col-form-label.required.fw-semibold.fs-6 Is Default
									.col-lg-8.fv-row
										input(type='checkbox' name='is_default' value="true")
										.fv-plugins-message-container.invalid-feedback(id=`field-error-is_default`)
							.card-footer.d-flex.justify-content-end.py-6.px-9
								button#kt_account_profile_details_submit.btn.btn-primary.form-submit-btn(type='submit') 
									span.preloader.d-none
										| Updating
									span.label
										| Save