extends ../../layouts/master.pug

block csslib
	link(href='/cms-static/admin/assets/plugins/custom/datatables/datatables.bundle.css' rel='stylesheet' type='text/css')

block jslib
	// begin::Vendors Javascript(used by this page)
	script(src='/cms-static/admin/assets/plugins/custom/datatables/datatables.bundle.js')
	// end::Vendors Javascript
	// begin::Custom Javascript(used by this page)
	//- script(src='/cms-static/admin/assets/js/custom/apps/subscriptions/add/advanced.js')
	//- script(src='/cms-static/admin/assets/js/custom/apps/subscriptions/add/customer-select.js')
	//- script(src='/cms-static/admin/assets/js/custom/apps/subscriptions/add/products.js')
	script(src='/cms-static/admin/assets/js/widgets.bundle.js')
	script(src='/cms-static/admin/assets/js/custom/widgets.js')
	script(src='/cms-static/admin/assets/js/custom/apps/chat/chat.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/upgrade-plan.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/create-app.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/offer-a-deal/type.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/offer-a-deal/details.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/offer-a-deal/finance.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/offer-a-deal/complete.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/offer-a-deal/main.js')
	// end::Custom Javascript

	script(src='/cms-static/common/js/form-data-json.min.js')
	script(src='/cms-static/common/js/es-form.js')

block content
	.d-flex.flex-column.flex-column-fluid
		#kt_app_toolbar.app-toolbar.py-3.py-lg-6
			#kt_app_toolbar_container.app-container.container-xxl.d-flex.flex-stack
				.page-title.d-flex.flex-column.justify-content-center.flex-wrap.me-3
					h1.page-heading.d-flex.text-dark.fw-bold.fs-3.flex-column.justify-content-center.my-0
						| #{country ? 'Edit' : 'Add'} Country
					ul.breadcrumb.breadcrumb-separatorless.fw-semibold.fs-7.my-0.pt-1
						li.breadcrumb-item.text-muted
							a.text-muted.text-hover-primary(href='/admin/dashboard') Dashboard
						li.breadcrumb-item
							span.bullet.bg-gray-400.w-5px.h-2px
						li.breadcrumb-item.text-muted Country 
							span.bullet.bg-gray-400.w-5px.h-2px
						li.breadcrumb-item.text-muted #{country ? 'Edit' : 'New'}
		#kt_app_content.app-content.flex-column-fluid
			#kt_app_content_container.app-container.container-xxl
				.card.mb-5.mb-xl-10
					.card-header.border-0.cursor-pointer(role='button' data-bs-toggle='collapse' data-bs-target='#kt_account_profile_details' aria-expanded='true' aria-controls='kt_account_profile_details')
						.card-title.m-0
							h3.fw-bold.m-0 Country Form
					#kt_account_settings_profile_details.collapse.show
						form#kt_account_profile_details_form.form.es-form(action=`/admin/config/country/save` data-redirect-url=`/admin/config/country`  method='post' autocomplete="off")
							input(type="hidden" name="id" value=`${country ? country._id : ''}`)
							.card-body.border-top.p-9
								.row.mb-6
									label.col-lg-4.col-form-label.required.fw-semibold.fs-6 Name
									.col-lg-8
										.row
											.col-lg-12.fv-row
												input.form-control.form-control-lg.form-control-solid.mb-3.mb-lg-0(type='text' name='name' placeholder='Name' value=`${country ? country.name.en : ''}`)
												.fv-plugins-message-container.invalid-feedback(id=`field-error-name`)
								.row.mb-6
									label.col-lg-4.col-form-label.required.fw-semibold.fs-6 Country Code
									.col-lg-8.fv-row
										input.form-control.form-control-lg.form-control-solid(type='text' name='code' placeholder='Country Code' value=`${country ? country.code : ''}`)
										.fv-plugins-message-container.invalid-feedback(id=`field-error-code`)
								.row.mb-6
									label.col-lg-4.col-form-label.required.fw-semibold.fs-6 Currency
									.col-lg-8.fv-row
										input.form-control.form-control-lg.form-control-solid(type='text' name='currency' placeholder='Currency Name' value=`${country ? country.currency : ''}`)
										.fv-plugins-message-container.invalid-feedback(id=`field-error-currency`)
								.row.mb-6
									label.col-lg-4.col-form-label.required.fw-semibold.fs-6 Currency Symbol
									.col-lg-8.fv-row
										input.form-control.form-control-lg.form-control-solid(type='text' name='currency_symbol' placeholder='Currency Symbol' value=`${country ? country.currency_symbol : ''}`)
										.fv-plugins-message-container.invalid-feedback(id=`field-error-currency_symbol`)
								.row.mb-6
									label.col-lg-4.col-form-label.required.fw-semibold.fs-6 Currency Decimal Points
									.col-lg-8.fv-row
										input.form-control.form-control-lg.form-control-solid(type='text' name='currency_decimal_points' placeholder='Currency Percision' value=`${country ? country.currency_decimal_points : ''}`)
										.fv-plugins-message-container.invalid-feedback(id=`field-error-currency_decimal_points`)
								.row.mb-6
									label.col-lg-4.col-form-label.required.fw-semibold.fs-6 Timezone
									.col-lg-8.fv-row
										input.form-control.form-control-lg.form-control-solid(type='text' name='timezone' placeholder='Timezone' value=`${country ? country.timezone : ''}`)
										.fv-plugins-message-container.invalid-feedback(id=`field-error-timezone`)
							.card-footer.d-flex.justify-content-end.py-6.px-9
								button#kt_account_profile_details_submit.btn.btn-primary.form-submit-btn(type='submit') 
									span.preloader.d-none
										| Updating
									span.label
										| Save