#kt_modal_create_app.modal.fade(tabindex='-1' aria-hidden='true')
    // begin::Modal dialog
    .modal-dialog.modal-dialog-centered.mw-900px
        .modal-content
            .modal-header
                h2 Attach Type
                .btn.btn-sm.btn-icon.btn-active-color-primary(data-bs-dismiss='modal' )
                    h3 X						
            .modal-body.py-lg-10.px-lg-10
                .card.card-flush
                    .card-body.pt-0
                        .accordion(id='kt_accordion_1')
                            each item,i in Object.keys(allowed_content)
                                .accordion-item
                                    h2.accordion-header(id=`kt_accordion_1_header_${i}`)
                                        //class=`${i==0 ? '' : 'collapsed'}`
                                        button.accordion-button.fs-4.fw-semibold.collapsed( type='button' data-bs-toggle='collapse' data-bs-target=`#kt_accordion_1_body_${i}` aria-expanded=i==0 aria-controls=`kt_accordion_1_body_${i}`)
                                            | #{item.toUpperCase()}
                                            //class=`${i==0 ? 'show' : 'collapse'}`
                                    .accordion-collapse.collapse( id=`kt_accordion_1_body_${i}` aria-labelledby=`kt_accordion_1_header_${i}` data-bs-parent=`#kt_accordion_1`)
                                        .accordion-body
                                            //- p #{JSON.stringify(allowed_content[item])}
                                            select.form-select.mb-2(id=`kt_ecommerce_add_product_status_select2-${i}` data-control='select2' name=`attached_type[${item}]` data-hide-search='true' data-placeholder='Select a content' multiple='multiple')
                                                option
                                                each content in allowed_content[item] 
                                                    option(value=content._id  ) #{content.content.en ? content.content.en.title : `${item} title`}
                                            .text-muted.fs-7 Set the content Types