extends ../../layouts/master.pug

block csslib
	link(href='/cms-static/admin/assets/plugins/custom/datatables/datatables.bundle.css' rel='stylesheet' type='text/css')

block jslib
	// begin::Vendors Javascript(used by this page)
	script(src='/cms-static/admin/assets/plugins/custom/datatables/datatables.bundle.js')
	// end::Vendors Javascript
	// begin::Custom Javascript(used by this page)
	//- script(src='/cms-static/admin/assets/js/custom/apps/subscriptions/add/advanced.js')
	//- script(src='/cms-static/admin/assets/js/custom/apps/subscriptions/add/customer-select.js')
	//- script(src='/cms-static/admin/assets/js/custom/apps/subscriptions/add/products.js')
	//- script(src='/cms-static/admin/assets/js/widgets.bundle.js')
	//- script(src='/cms-static/admin/assets/js/custom/widgets.js')
	
	
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/create-app.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/offer-a-deal/type.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/offer-a-deal/details.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/offer-a-deal/finance.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/offer-a-deal/complete.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/offer-a-deal/main.js')
	script(src='/cms-static/admin/assets/plugins/custom/formrepeater/formrepeater.bundle.js')
	// end::Custom Javascript

	script(src='/cms-static/common/js/form-data-json.min.js')
	script(src='/cms-static/common/js/es-form.js')

block customScript
	script.
		$('#kt_docs_repeater_nested').repeater({
			repeaters: [{
				selector: '.inner-repeater',
				show: function () {
					$(this).slideDown();
				},

				hide: function (deleteElement) {
					$(this).slideUp(deleteElement);
				}
			}],

			show: function () {
				$(this).slideDown();
				// Re-init select2
				$(this).find('[data-kt-repeate="select2"]').select2();
			},

			hide: function (deleteElement) {
				$(this).slideUp(deleteElement);
			},
			ready: function(){
				// Init select2
				$('[data-kt-repeate="select2"]').select2();
			}
		});
block content
	.d-flex.flex-column.flex-column-fluid
		#kt_app_toolbar.app-toolbar.py-3.py-lg-6
			#kt_app_toolbar_container.app-container.container-xxl.d-flex.flex-stack
				.page-title.d-flex.flex-column.justify-content-center.flex-wrap.me-3
					h1.page-heading.d-flex.text-dark.fw-bold.fs-3.flex-column.justify-content-center.my-0
						| #{contentType ? 'Edit' : 'Add'} Content Type
					ul.breadcrumb.breadcrumb-separatorless.fw-semibold.fs-7.my-0.pt-1
						li.breadcrumb-item.text-muted
							a.text-muted.text-hover-primary(href='/admin/dashboard') Dashboard
						li.breadcrumb-item
							span.bullet.bg-gray-400.w-5px.h-2px
						li.breadcrumb-item.text-muted Content Type 
							span.bullet.bg-gray-400.w-5px.h-2px.ms-1
						li.breadcrumb-item.text-muted #{contentType ? 'Edit' : 'New'}
	form#kt_account_profile_details_form.form.es-form(action=`/admin/config/content-type/save` data-redirect-url=`/admin/config/content-type`  method='post' autocomplete="off")
		#kt_app_content.app-content.flex-column-fluid
			#kt_app_content_container.app-container.container-xxl
				.card.mb-5.mb-xl-10
					.card-header.border-0.cursor-pointer(role='button' data-bs-toggle='collapse' data-bs-target='#kt_account_profile_details' aria-expanded='true' aria-controls='kt_account_profile_details')
						.card-title.m-0
							h3.fw-bold.m-0 Content Type Form
					#kt_account_settings_profile_details
						input(type='hidden' name='id' value=`${contentType ? contentType._id : ''}`)
						.card-body.border-top.p-9
							.row.mb-6
								label.col-lg-4.col-form-label.required.fw-semibold.fs-6 Title
								.col-lg-8
									.row
										.col-lg-12.fv-row
											input.form-control.form-control-lg.form-control-solid.mb-3.mb-lg-0(type='text' name='title' placeholder='Title' value=`${contentType ? contentType.title : ''}`)
											.fv-plugins-message-container.invalid-feedback(id=`field-error-title`)
							.row.mb-6
								label.col-lg-4.col-form-label.required.fw-semibold.fs-6 URL
								.col-lg-8.fv-row
									input.form-control.form-control-lg.form-control-solid(type='text' name='slug' placeholder='URL' value=`${contentType ? contentType.slug : ''}`)
									.fv-plugins-message-container.invalid-feedback(id=`field-error-slug`)
							.row.mb-6
								label.col-lg-4.col-form-label.required.fw-semibold.fs-6 Single Type
								.col-lg-8.fv-row
									.form-check.form-switch.form-check-custom.form-check-success.form-check-solid
										input#kt_flexSwitchCustomDefault_1_1.form-check-input(type='checkbox' name='single_type' value='true' checked=contentType && contentType.single_type)
										label.form-check-label(for='kt_flexSwitchCustomDefault_1_1')
									.fv-plugins-message-container.invalid-feedback(id=`field-error-single_type`)
							.row.mb-6
								label.col-lg-4.col-form-label.required.fw-semibold.fs-6 Position
								.col-lg-8.fv-row
									input.form-control.form-control-lg.form-control-solid(type='number' name='position' placeholder='Position' value=`${contentType ? contentType.position : 0}`)
									.fv-plugins-message-container.invalid-feedback(id=`field-error-position`)
							.row.mb-6
								label.col-lg-4.col-form-label.required.fw-semibold.fs-6 Admin Icon (SVG Code)
									br
									a(href='https://preview.keenthemes.com/html/metronic/docs/icons/duotune' target='_blank')
										small Sample Icons
								.col-lg-8.fv-row
									textarea.form-control.form-control-lg.form-control-solid(type='text' name='admin_icon' placeholder='Admin Icon' ) #{contentType ? contentType.admin_icon : ''}
									.fv-plugins-message-container.invalid-feedback(id=`field-error-admin_icon`)
							.row.mb-6
								label.col-lg-4.col-form-label.required.fw-semibold.fs-6 Attachable type
								.col-lg-8.fv-row
									select.form-select.form-select-lg.form-select-solid(data-control='select2' data-close-on-select='false' name='attachable_type' data-placeholder='Select a type' data-allow-clear='true' multiple='multiple')
										each ct in contentTypes
											option(value=`${ct.slug}` selected=contentType && contentType.allowed_type && contentType.allowed_type.length && contentType.allowed_type.find((at)=>at==ct.slug) ) #{ct.title}
									.fv-plugins-message-container.invalid-feedback(id=`field-error-attachable_type`)

				//- include field-config-form	

				.card.mb-5.mb-xl-10
					.card-header.border-0.cursor-pointer(role='button' data-bs-toggle='collapse' data-bs-target='#kt_account_profile_details' aria-expanded='true' aria-controls='kt_account_profile_details')
						.card-title.m-0
							h3.fw-bold.m-0 Features Checklist
					#kt_account_settings_profile_details
						.card-body.border-top.p-9
							.row.mb-6
								span.col-lg-4.col-form-label.required.fw-semibold.fs-6 Features Checklist
								small Please include the following in your content type.
								.row.mt-3
									.form-check.form-check-custom.form-check-solid.form-check-sm.col-md-4.mt-4
										input#in_use.form-check-input(type='checkbox' value='true' name='has_slug' checked=(contentType ? contentType.has_slug : false))
										label.form-check-label(for='in_use') Has Slug (URL)
									.form-check.form-check-custom.form-check-solid.form-check-sm.col-md-4.mt-4
										input#in_use.form-check-input(type='checkbox' value='true' name='in_use' checked=(contentType ? contentType.in_use : false))
										label.form-check-label(for='in_use') In Use
									.form-check.form-check-custom.form-check-solid.form-check-sm.col-md-4.mt-4
										input#has_banner.form-check-input(type='checkbox' value='true' name='nav_on_collection_api' checked=(contentType ? contentType.nav_on_collection_api : false))
										label.form-check-label(for='nav_on_collection_api') Navigation On Collection API
									.form-check.form-check-custom.form-check-solid.form-check-sm.col-md-4.mt-4
										input#has_gallery.form-check-input(type='checkbox' value='true' name='nav_on_single_api' checked=(contentType ? contentType.nav_on_single_api : false))
										label.form-check-label(for='nav_on_single_api') Navigation on Detail API
									.form-check.form-check-custom.form-check-solid.form-check-sm.col-md-4.mt-4
										input#has_form.form-check-input(type='checkbox' value='true' name='has_form' checked=(contentType ? contentType.has_form : false))
										label.form-check-label(for='has_form') Has Form
									.form-check.form-check-custom.form-check-solid.form-check-sm.col-md-4.mt-4
										input#has_api_endpoint.form-check-input(type='checkbox' value='true' name='has_api_endpoint' checked=(contentType ? contentType.has_api_endpoint : false))
										label.form-check-label(for='has_api_endpoint') Has API Endpoint
									.form-check.form-check-custom.form-check-solid.form-check-sm.col-md-4.mt-4
										input#hide_meta.form-check-input(type='checkbox' value='true' name='has_meta' checked=(contentType ? contentType.has_meta : false))
										label.form-check-label(for='hide_meta') Has Meta

						.card-footer.d-flex.justify-content-end.py-6.px-9
							<button class="btn btn-primary form-submit-btn" id="kt_account_profile_details_submit" type="submit">
								<span class="preloader d-none">Saving...</span>
								<span class="label">Save</span>
							</button>