extends ../../layouts/master.pug

block csslib
	link(href='/cms-static/admin/assets/plugins/custom/datatables/datatables.bundle.css' rel='stylesheet' type='text/css')

block jslib
	// begin::Vendors Javascript(used by this page)
	script(src='/cms-static/admin/assets/plugins/custom/datatables/datatables.bundle.js')
	// end::Vendors Javascript
	// begin::Custom Javascript(used by this page)
	script(src='/cms-static/admin/assets/js/custom/apps/subscriptions/list/export.js')
	//- script(src='/cms-static/admin/assets/js/custom/cms/subscriptions/list/list.js')
	script(src='/cms-static/admin/assets/js/custom/cms/banner-list.js')
	script(src='/cms-static/admin/assets/js/widgets.bundle.js')
	script(src='/cms-static/admin/assets/js/custom/widgets.js')
	script(src='/cms-static/admin/assets/js/custom/apps/chat/chat.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/upgrade-plan.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/create-app.js')
	script(src='/cms-static/admin/assets/js/custom/utilities/modals/users-search.js')
	// end::Custom Javascript

	//- custom functions 
	script(src='/cms-static/common/js/custom-functions.js')
	script(src='/cms-static/common/js/form-data-json.min.js')
	script(src='/cms-static/common/js/es-form.js')


block content
	.d-flex.flex-column.flex-column-fluid
		#kt_app_toolbar.app-toolbar.py-3.py-lg-6
			#kt_app_toolbar_container.app-container.container-xxl.d-flex.flex-stack
				.page-title.d-flex.flex-column.justify-content-center.flex-wrap.me-3
					h1.page-heading.d-flex.text-dark.fw-bold.fs-3.flex-column.justify-content-center.my-0 App Config
					//- ul.breadcrumb.breadcrumb-separatorless.fw-semibold.fs-7.my-0.pt-1
					//- 	li.breadcrumb-item.text-muted
					//- 		a.text-muted.text-hover-primary(href='/admin/dashboard') Home
					//- 	li.breadcrumb-item
					//- 		span.bullet.bg-gray-400.w-5px.h-2px
					//- 	li.breadcrumb-item.text-muted Subscription
					//- .d-flex.align-items-center.gap-2.gap-lg-3
					//- 	a.btn.btn-sm.fw-bold.btn-success(href=`/admin/config/language/add`) Save Config
		#kt_app_content.app-content.flex-column-fluid
			#kt_app_content_container.app-container.container-xxl
				.card
					form#kt_account_profile_details_form.form.es-form(action=`/admin/config/app-settings/save` data-redirect-url=`/admin/config/app-settings`  method='post' autocomplete="off")
						.card-header.border-0.pt-6.justify-content-end
							.card-title
								.d-flex.align-items-right
									button.btn.btn-sm.fw-bold.btn-success.form-submit-btn(type="submit" href=`/admin/config/language/add`)
										span.preloader.d-none
											| Updating
										span.label
											| Save Config
						.card-body.pt-0
							ul.nav.nav-tabs.nav-line-tabs.mb-5.fs-6
								each config_item,key in schema_fields.obj
									if configs
										-var fieldType = configs.schema.path(`${key}`)?.instance || 'Mixed'
										if fieldType == 'Mixed'
											li.nav-item
												a.nav-link(class=(key=='general' ? 'active' : '') data-bs-toggle='tab' href=`#kt_tab_pane_${key}`) #{key.toUpperCase()}

							#myTabContent.tab-content
								each config_item, key in schema_fields.obj
									.tab-pane.fade(class=(key=='general' ? 'show active' : '') id=`kt_tab_pane_${key}` role='tabpanel')
										//- -var main_key = key
										table#kt_subscriptions_table.table.align-middle.table-row-dashed.fs-6.gy-5
											thead
												tr.text-start.text-muted.fw-bold.fs-7.text-uppercase.gs-0
													th.min-w-125px Key
													th.min-w-125px Value
													//- th.text-end.min-w-70px Actions
											tbody.text-gray-600.fw-semibold
												//- BEGIN::Data Loop
												each config_val,config_key in config_item
													-var partialType = 'mainList'
													-var fieldType = configs.schema.path(`${key}.${config_key}`)?.instance || 'Object'
													include _app-config-row
