.menu-item.pt-5
    .menu-content
        span.menu-heading.fw-bold.text-uppercase.fs-7 eCommerce
.menu-item.menu-accordion(data-kt-menu-trigger='click' class=`${activeNav.includes(`/admin/ecommerce/`) ? 'here show' : ''}`)
    span.menu-link
        span.menu-icon
            span.svg-icon.svg-icon-2
                svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M21 10H13V11C13 11.6 12.6 12 12 12C11.4 12 11 11.6 11 11V10H3C2.4 10 2 10.4 2 11V13H22V11C22 10.4 21.6 10 21 10Z' fill='currentColor')
                    path(opacity='0.3' d='M12 12C11.4 12 11 11.6 11 11V3C11 2.4 11.4 2 12 2C12.6 2 13 2.4 13 3V11C13 11.6 12.6 12 12 12Z' fill='currentColor')
                    path(opacity='0.3' d='M18.1 21H5.9C5.4 21 4.9 20.6 4.8 20.1L3 13H21L19.2 20.1C19.1 20.6 18.6 21 18.1 21ZM13 18V15C13 14.4 12.6 14 12 14C11.4 14 11 14.4 11 15V18C11 18.6 11.4 19 12 19C12.6 19 13 18.6 13 18ZM17 18V15C17 14.4 16.6 14 16 14C15.4 14 15 14.4 15 15V18C15 18.6 15.4 19 16 19C16.6 19 17 18.6 17 18ZM9 18V15C9 14.4 8.6 14 8 14C7.4 14 7 14.4 7 15V18C7 18.6 7.4 19 8 19C8.6 19 9 18.6 9 18Z' fill='currentColor')
        span.menu-title eCommerce
        span.menu-arrow
    .menu-sub.menu-sub-accordion
        .menu-item.menu-accordion(data-kt-menu-trigger='click' class=`${activeNav.includes(`/admin/ecommerce/catalog`) ? 'here show' : ''}`)
            span.menu-link
                span.menu-bullet
                    span.bullet.bullet-dot
                span.menu-title Catalog
                span.menu-arrow
            .menu-sub.menu-sub-accordion
                .menu-item
                    a.menu-link(href='/admin/ecommerce/catalog/products' class=`${activeNav == `/admin/ecommerce/catalog/products` ? 'active' : ''}`)
                        span.menu-bullet
                            span.bullet.bullet-dot
                        span.menu-title Products
                .menu-item
                    a.menu-link(href='/admin/ecommerce/catalog/categories' class=`${activeNav == `/admin/ecommerce/catalog/categories` ? 'active' : ''}`)
                        span.menu-bullet
                            span.bullet.bullet-dot
                        span.menu-title Categories
                .menu-item
                    a.menu-link(href='/admin/ecommerce/catalog/products/add' class=`${activeNav == `/admin/ecommerce/catalog/products/add` ? 'active' : ''}`)
                        span.menu-bullet
                            span.bullet.bullet-dot
                        span.menu-title Add Product
                //- .menu-item
                //-     a.menu-link(href='/admin/ecommerce/catalog/products/edit/1')
                //-         span.menu-bullet
                //-             span.bullet.bullet-dot
                //-         span.menu-title Edit Product
                .menu-item
                    a.menu-link(href='/admin/ecommerce/catalog/categories/add' class=`${activeNav == `/admin/ecommerce/catalog/categories/add` ? 'active' : ''}`)
                        span.menu-bullet
                            span.bullet.bullet-dot
                        span.menu-title Add Category
                //- .menu-item
                //-     a.menu-link(href='/admin/ecommerce/catalog/categories/edit/1')
                //-         span.menu-bullet
                //-             span.bullet.bullet-dot
                //-         span.menu-title Edit Category
        .menu-item.menu-accordion(data-kt-menu-trigger='click' class=`${activeNav.includes(`/admin/ecommerce/orders`) ? 'here show' : ''}`)
            span.menu-link
                span.menu-bullet
                    span.bullet.bullet-dot
                span.menu-title Sales
                span.menu-arrow
            .menu-sub.menu-sub-accordion
                .menu-item
                    a.menu-link(href='/admin/ecommerce/orders' class=`${activeNav == `/admin/ecommerce/orders` ? 'active' : ''}`)
                        span.menu-bullet
                            span.bullet.bullet-dot
                        span.menu-title Orders Listing
                //- .menu-item
                //-     a.menu-link(href='../../demo1/dist/apps/ecommerce/sales/details.html')
                //-         span.menu-bullet
                //-             span.bullet.bullet-dot
                //-         span.menu-title Order Details
        .menu-item.menu-accordion(data-kt-menu-trigger='click' class=`${activeNav.includes(`/admin/ecommerce/customers`) ? 'here show' : ''}`)
            span.menu-link
                span.menu-bullet
                    span.bullet.bullet-dot
                span.menu-title Customers
                span.menu-arrow
            .menu-sub.menu-sub-accordion
                .menu-item
                    a.menu-link(href='/admin/ecommerce/customers' class=`${activeNav == `/admin/ecommerce/customers` ? 'active' : ''}`)
                        span.menu-bullet
                            span.bullet.bullet-dot
                        span.menu-title Customer Listing
                //- .menu-item
                //-     a.menu-link(href='/admin/ecommerce/customers/1')
                //-         span.menu-bullet
                //-             span.bullet.bullet-dot
                //-         span.menu-title Customer Details
        .menu-item.menu-accordion(data-kt-menu-trigger='click' class=`${activeNav.includes(`/admin/ecommerce/coupons`) ? 'here show' : ''}`)
            span.menu-link
                span.menu-bullet
                    span.bullet.bullet-dot
                span.menu-title Coupons
                span.menu-arrow
            .menu-sub.menu-sub-accordion
                .menu-item
                    a.menu-link(href='/admin/ecommerce/coupons' class=`${activeNav == `/admin/ecommerce/coupons` ? 'active' : ''}`)
                        span.menu-bullet
                            span.bullet.bullet-dot
                        span.menu-title Coupons Listing
                .menu-item
                    a.menu-link(href='/admin/ecommerce/coupons/add' class=`${activeNav == `/admin/ecommerce/coupons/add` ? 'active' : ''}`)
                        span.menu-bullet
                            span.bullet.bullet-dot
                        span.menu-title Add Coupons
                .menu-item
                    a.menu-link(href='/admin/ecommerce/coupons/add?bulk=true' class=`${activeNav == `/admin/ecommerce/coupons?bulk=true` ? 'active' : ''}`)
                        span.menu-bullet
                            span.bullet.bullet-dot
                        span.menu-title Add Bulk Coupons
        //- .menu-item.menu-accordion(data-kt-menu-trigger='click')
        //-     span.menu-link
        //-         span.menu-bullet
        //-             span.bullet.bullet-dot
        //-         span.menu-title Reports
        //-         span.menu-arrow
        //-     .menu-sub.menu-sub-accordion
        //-         .menu-item
        //-             a.menu-link(href='../../demo1/dist/apps/ecommerce/reports/view.html')
        //-                 span.menu-bullet
        //-                     span.bullet.bullet-dot
        //-                 span.menu-title Products Viewed
        //-         .menu-item
        //-             a.menu-link(href='../../demo1/dist/apps/ecommerce/reports/sales.html')
        //-                 span.menu-bullet
        //-                     span.bullet.bullet-dot
        //-                 span.menu-title Sales
        //-         .menu-item
        //-             a.menu-link(href='../../demo1/dist/apps/ecommerce/reports/returns.html')
        //-                 span.menu-bullet
        //-                     span.bullet.bullet-dot
        //-                 span.menu-title Returns
        //-         .menu-item
        //-             a.menu-link(href='../../demo1/dist/apps/ecommerce/reports/customer-orders.html')
        //-                 span.menu-bullet
        //-                     span.bullet.bullet-dot
        //-                 span.menu-title Customer Orders
        //-         .menu-item
        //-             a.menu-link(href='../../demo1/dist/apps/ecommerce/reports/shipping.html')
        //-                 span.menu-bullet
        //-                     span.bullet.bullet-dot
        //-                 span.menu-title Shipping