.app-sidebar-menu.overflow-hidden.flex-column-fluid
    #kt_app_sidebar_menu_wrapper.app-sidebar-wrapper.hover-scroll-overlay-y.my-5(data-kt-scroll='true' data-kt-scroll-activate='true' data-kt-scroll-height='auto' data-kt-scroll-dependencies='#kt_app_sidebar_logo, #kt_app_sidebar_footer' data-kt-scroll-wrappers='#kt_app_sidebar_menu' data-kt-scroll-offset='5px' data-kt-scroll-save-state='true')
        .menu.menu-column.menu-rounded.menu-sub-indention.px-3(id='#kt_app_sidebar_menu' data-kt-menu='true' data-kt-menu-expand='false')
            if authUser.admin_role == 'super_admin'
                .menu-item.pt-5
                    .menu-content
                        span.menu-heading.fw-bold.text-uppercase.fs-7 Configurations
                .menu-item.menu-accordion(data-kt-menu-trigger='click' class=`${activeNav.includes(`/admin/config/`) ? 'here show' : ''}`)
                    span.menu-link
                        span.menu-icon
                            span.svg-icon.svg-icon-2
                                svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(opacity='0.3' d='M22.0318 8.59998C22.0318 10.4 21.4318 12.2 20.0318 13.5C18.4318 15.1 16.3318 15.7 14.2318 15.4C13.3318 15.3 12.3318 15.6 11.7318 16.3L6.93177 21.1C5.73177 22.3 3.83179 22.2 2.73179 21C1.63179 19.8 1.83177 18 2.93177 16.9L7.53178 12.3C8.23178 11.6 8.53177 10.7 8.43177 9.80005C8.13177 7.80005 8.73176 5.6 10.3318 4C11.7318 2.6 13.5318 2 15.2318 2C16.1318 2 16.6318 3.20005 15.9318 3.80005L13.0318 6.70007C12.5318 7.20007 12.4318 7.9 12.7318 8.5C13.3318 9.7 14.2318 10.6001 15.4318 11.2001C16.0318 11.5001 16.7318 11.3 17.2318 10.9L20.1318 8C20.8318 7.2 22.0318 7.59998 22.0318 8.59998Z' fill='currentColor')
                                    path(d='M4.23179 19.7C3.83179 19.3 3.83179 18.7 4.23179 18.3L9.73179 12.8C10.1318 12.4 10.7318 12.4 11.1318 12.8C11.5318 13.2 11.5318 13.8 11.1318 14.2L5.63179 19.7C5.23179 20.1 4.53179 20.1 4.23179 19.7Z' fill='currentColor')
                        span.menu-title Configurations
                        span.menu-arrow
                    .menu-sub.menu-sub-accordion
                        .menu-item
                            a.menu-link(href='/admin/config/admin' class=`${activeNav == `/admin/config/admin` ? 'active' : ''}`)
                                span.menu-bullet
                                    span.bullet.bullet-dot
                                span.menu-title Admin
                        .menu-item
                            a.menu-link(href='/admin/config/country' class=`${activeNav == `/admin/config/country` ? 'active' : ''}`)
                                span.menu-bullet
                                    span.bullet.bullet-dot
                                span.menu-title Country
                        .menu-item
                            a.menu-link(href='/admin/config/language' class=`${activeNav == `/admin/config/language` ? 'active' : ''}`)
                                span.menu-bullet
                                    span.bullet.bullet-dot
                                span.menu-title Languages
                        .menu-item
                            a.menu-link(href='/admin/config/brand' class=`${activeNav == `/admin/config/brand` ? 'active' : ''}`)
                                span.menu-bullet
                                    span.bullet.bullet-dot
                                span.menu-title Brands
                        .menu-item
                            a.menu-link(href='/admin/config/content-type' class=`${activeNav == `/admin/config/content-type` ? 'active' : ''}`)
                                span.menu-bullet
                                    span.bullet.bullet-dot
                                span.menu-title Content Type
                        .menu-item
                            a.menu-link(href='/admin/config/app-settings' class=`${activeNav == `/admin/config/app-settings` ? 'active' : ''}`)
                                span.menu-bullet
                                    span.bullet.bullet-dot
                                span.menu-title App Settings
                hr
            .menu-item.menu-accordion(data-kt-menu-trigger='click' class=`${activeNav.includes(`/admin/dashboard`) ? 'here show' : ''}`)
                span.menu-link
                    span.menu-icon
                        span.svg-icon.svg-icon-2
                            svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                rect(x='2' y='2' width='9' height='9' rx='2' fill='currentColor')
                                rect(opacity='0.3' x='13' y='2' width='9' height='9' rx='2' fill='currentColor')
                                rect(opacity='0.3' x='13' y='13' width='9' height='9' rx='2' fill='currentColor')
                                rect(opacity='0.3' x='2' y='13' width='9' height='9' rx='2' fill='currentColor')
                    span.menu-title Dashboards
                    span.menu-arrow
                .menu-sub.menu-sub-accordion
                    .menu-item
                        a.menu-link(href='/admin/dashboard' class=`${activeNav == `/admin/dashboard` ? 'active' : ''}`)
                            span.menu-bullet
                                span.bullet.bullet-dot
                            span.menu-title Basic
            .menu-item.pt-5
                .menu-content
                    span.menu-heading.fw-bold.text-uppercase.fs-7 CMS
            each navItem, i in mainNav
                .menu-item.menu-accordion(data-kt-menu-trigger='click' class=`${activeNav.includes(`/admin/cms/${navItem.slug}`) ? 'here show' : ''}`)
                    span.menu-link
                        span.menu-icon
                            span.svg-icon.svg-icon-2 !{navItem.admin_icon}
                        span.menu-title #{navItem.title}
                        span.menu-arrow
                    .menu-sub.menu-sub-accordion
                        .menu-item
                            a.menu-link(href=`/admin/cms/${navItem.slug}` class=`${activeNav == `/admin/cms/${navItem.slug}` ? 'active' : ''}`)
                                span.menu-bullet
                                    span.bullet.bullet-dot
                                span.menu-title All #{navItem.title}
                        .menu-item
                            a.menu-link(href=`/admin/cms/${navItem.slug}/add` class=`${activeNav == `/admin/cms/${navItem.slug}/add` ? 'active' : ''}`)
                                span.menu-bullet
                                    span.bullet.bullet-dot
                                span.menu-title Add #{navItem.title}
            .menu-item
                a.menu-link(href=`/admin/cms/menu` class=`${activeNav == `/admin/cms/menu` ? 'active' : ''}`)
                    span.menu-icon
                        span.svg-icon.svg-icon-2
                            svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M20 14H18V10H20C20.6 10 21 10.4 21 11V13C21 13.6 20.6 14 20 14ZM21 19V17C21 16.4 20.6 16 20 16H18V20H20C20.6 20 21 19.6 21 19ZM21 7V5C21 4.4 20.6 4 20 4H18V8H20C20.6 8 21 7.6 21 7Z' fill='currentColor')
                                path(opacity='0.3' d='M17 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H17C17.6 2 18 2.4 18 3V21C18 21.6 17.6 22 17 22ZM10 7C8.9 7 8 7.9 8 9C8 10.1 8.9 11 10 11C11.1 11 12 10.1 12 9C12 7.9 11.1 7 10 7ZM13.3 16C14 16 14.5 15.3 14.3 14.7C13.7 13.2 12 12 10.1 12C8.10001 12 6.49999 13.1 5.89999 14.7C5.59999 15.3 6.19999 16 7.39999 16H13.3Z' fill='currentColor')
                    span.menu-title Menu
            .menu-item
                a.menu-link(href=`/admin/cms/media` class=`${activeNav == `/admin/cms/media` ? 'active' : ''}`)
                    span.menu-icon
                        span.svg-icon.svg-icon-2
                            svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(opacity='0.3' d='M22 5V19C22 19.6 21.6 20 21 20H19.5L11.9 12.4C11.5 12 10.9 12 10.5 12.4L3 20C2.5 20 2 19.5 2 19V5C2 4.4 2.4 4 3 4H21C21.6 4 22 4.4 22 5ZM7.5 7C6.7 7 6 7.7 6 8.5C6 9.3 6.7 10 7.5 10C8.3 10 9 9.3 9 8.5C9 7.7 8.3 7 7.5 7Z' fill='currentColor')
                                path(d='M19.1 10C18.7 9.60001 18.1 9.60001 17.7 10L10.7 17H2V19C2 19.6 2.4 20 3 20H21C21.6 20 22 19.6 22 19V12.9L19.1 10Z' fill='currentColor')
                    span.menu-title Media